page-landing {
    .navbar .toolbar-background {
        background: #fff !important;
    }
    ion-content{
        background: #4a647e !important;
    }
    h1, h2, h3{
        color: #fff;
    }
    .header2 h1{
        margin-top: 2%;
        margin-bottom: 1%;
    }
    .header2 button{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .separador{
        background: #2e3e4e;
    }
    .separador h2{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .fondo-blanco{
        background: #fff !important;
    }
    .fondo-blanco h1{
        margin-top: 0px;
        padding-top: 2%;
        padding-bottom: 1%;
        color: grey;
    }
    .fondo-blanco button{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .casi-blanco h2{
        color: grey;
        padding-top: 2%;
        padding-bottom: 1%;
        margin-top: 0px;
    }
    .casi-blanco{
        background: #fafafa !important;
    }
    .casi-blanco ion-icon{
        font-size: 5em;
        color: #4dc0c1;
    }
    .contacto ion-icon{
        font-size: 2.5em;
        color: grey;
        padding-top: 3%;

    }
    .contacto{
        background: #1b252e;
    }
    .contacto p{
        color: #4cc0c1;
        margin-bottom: 0px;
        padding-bottom: 3%;
    }
}
