<ion-nav #mycontent [root]="rootPage"></ion-nav>
<ion-header>
  <ion-navbar hideBackButton class="navbar">
    <ion-grid class="">
      <ion-row class="">
        <ion-col col-12 col-sm-12 col-md-6  >
            <img class="" src="assets/img/header.png" (click)="openResumen()">
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-6  >
          <ion-buttons end>
            <span class="current-user-name">{{operacion.usuario}}</span> 
            <button ion-button icon-only (click)="cerrarSesion()">
              <ion-icon name="log-out"> Salir</ion-icon>
            </button>
            <button class="bandera" (click)="onChange('es')" ion-button icon-only>
              <img class="" src="assets/img/spanish.png">
            </button>
            <button class="bandera" (click)="onChange('en')" ion-button icon-only>
              <img class="" src="assets/img/english.png">
            </button>
            <button class="bandera" (click)="onChange('ca')" ion-button icon-only>
              <img class="" src="assets/img/valencian.png">
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content class="fondo-listado">
    <ion-grid class="grid-menu">
      <ion-row class="row-menu">
        <ion-col col-md-2 col-12 class="menu">
          <ul  class="list-menu ">
          <li class="item-menu-apunte">
              <a class="a-menu" (click)="addItem()">
                <ion-grid class="grid-item">
                  <ion-row class="row-item">
                    <ion-col col-12 class="col-item icon-menu">
                      <ion-icon name="add" class="icon-anyadir">                    
                        <span class="span-anyadir">{{ 'AÑADIR_APUNTE' | translate }}e</span>
                      </ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </a>
            </li>
            <li class="item-menu">
              <a class="a-menu" (click)="openResumen()">
                <ion-grid class="grid-item">
                  <ion-row class="row-item">
                    <ion-col col-3 class="col-item icon-menu">
                      <ion-icon name="home" class=""></ion-icon>
                    </ion-col>
                    <ion-col col-9 class="col-item">
                      <span class="span-menu">{{ 'RESUMEN' | translate }}</span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </a>
            </li>
            <li class="item-menu" >
              <a class="a-menu" (click)="openMovimientos()">
                <ion-grid class="grid-item">
                  <ion-row class="row-item">
                    <ion-col col-3 class="col-item icon-active">
                      <ion-icon name="sync" class=""></ion-icon>
                    </ion-col>
                    <ion-col col-9 class="col-item ">
                      <span class="span-menu-active">{{ 'MOVIMIENTOS' | translate }}</span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </a>
            </li>
            <li class="item-menu" >
              <a class="a-menu">
                <ion-grid class="grid-item">
                  <ion-row class="row-item" (click)="openEstadisticas()">
                    <ion-col col-3 class="col-item icon-menu">
                      <ion-icon name="stats" class=""></ion-icon>
                    </ion-col>
                    <ion-col col-9 class="col-item" >
                      <span class="span-menu">{{ 'ESTADISTICAS' | translate }}</span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </a>
            </li>
          </ul>
          <ion-footer>
            <button class="button-footter" ion-button (click)="contacto()">{{ 'AYUDANOS' | translate }}</button>
          </ion-footer>
        </ion-col>

        <ion-col col-md-10>
          <ion-grid class="">
            <ion-row class="">
              <ion-col col-md-12 >
                  <ion-grid class="">
                    <ion-row class="">
                      <ion-col col-md-6 >
                        <h3>{{item.concepto}}</h3>
                        <small>{{ 'INFORMACION_COMPLETA' | translate }}</small>
                      </ion-col>
                      <ion-col col-md-6 >
                          <button class="item-boton" ion-button color="info" (click)="editItem(item)">
                              <ion-icon name="brush" class=""> </ion-icon>

                              {{ 'EDIT_BUTTON' | translate }}
                          </button>
                          <button class="item-boton" ion-button color="danger" (click)="deleteItem(item)">
                              <ion-icon name="md-trash" class=""> </ion-icon>

                              {{ 'DELETE_BUTTON' | translate }}
                            </button>  
                      </ion-col>
                    </ion-row>
                  </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid class="">
            <ion-row class="">
              <ion-col col-md-7 >
                  <div class="item-detail" padding>
                    <h2 *ngIf="item.tipo=='Gasto'" class="green info-item-detail">{{fomatPrice(item.cantidad)}} €</h2>
                    <h2 *ngIf="item.tipo=='Igreso'" class="red info-item-detail">{{fomatPrice(item.cantidad)}} €</h2>
                    <h1 class="info-item-detail">{{item.concepto}}</h1>
                    <p class="info-item-detail">{{item.fecha|date:'dd/MM/yyyy'}}</p>
                  </div>
              </ion-col>
              <ion-col col-md-5>
                <ion-grid class="grid-info-completa">
                  <ion-row class="row-info-completa">
                    <ion-col col-md-12>
                      <p>{{ 'INFORMACION_COMPLETA' | translate }}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="row-item-info-completa">
                      <ion-col col-md-6>
                        <p class="p-item-info-completa">{{ 'IMPORTE' | translate }}: </p>
                      </ion-col>
                      <ion-col col-md-6>  
                        <p>{{fomatPrice(item.cantidad)}} €</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="row-item-info-completa">
                    <ion-col col-md-6>
                      <p class="p-item-info-completa">{{ 'FECHA' | translate }}: </p>
                    </ion-col>
                    <ion-col col-md-6>
                      <p>{{item.fecha|date:'dd/MM/yyyy'}}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="row-item-info-completa">
                      <ion-col col-md-6>
                        <p class="p-item-info-completa">{{ 'CONCEPTO' | translate }}: </p>
                      </ion-col>  
                      <ion-col col-md-6>  
                        <p class="">{{item.concepto}}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="">
                      <ion-col col-md-6>
                         <p class="p-item-info-completa">{{ 'TIPO' | translate }}: </p>
                      </ion-col>
                      <ion-col col-md-6>
                        <p>{{item.tipo}}</p>
                      </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>